<li class="card p-1">
  <h2><%= post.title %></h2>
  <p><%= post.text %></p>
  <div class="align-self-end">
    <span>Comments: <%= post.comments_counter %></span>,
    <span>Likes: <%= post.likes_counter %></span>
  </div>
</li>