<ul class="list-unstyled">
  <% @users.each do |user| %>
    <li class="mb-3">
      <%= link_to user_path(user), class: "nav-link" do %>
        <%= render 'partials/users', user: user %>
      <% end %>
    </li>
  <% end %>
</ul>