<div class="mb-3 d-flex align-items-center justify-content-between">
  <h2>Welcome <%= current_user.name %>!</h2>
  <% if user_signed_in? %>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger btn-sm' %>
  <% end %>
</div>
<div class="mb-3">
  <%= link_to 'New post', new_user_post_path(user_id: current_user.id), class: "btn btn-outline-secondary" %>
</div>
<ul class="list-unstyled">
  <% @users.each do |user| %>
    <li class="mb-3">
      <%= render 'partials/users', user: user %>
    </li>
  <% end %>
</ul>