<div>
  <%= render 'partials/users', user: @user %>
  <p>
    <%= @user.bio %>
  </p>
</div>

<ul>
  <% @user.recent_three_post.each do |post| %>
    <%= render 'partials/posts', post: post %>
  <% end %>
</ul>

<%= link_to 'See all posts', user_posts_path(user_id: @user.id) %>