<%= form_with model: [current_user, post, comment] do |form| %>
  <div class="mb-3">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control" %>
  </div>
  <div>
    <%= form.submit class: "btn btn-outline-secondary" %>
  </div>
<% end %>